/* html, body {
  height:100%;
  
} */

#root {
  height: 100%;
  box-sizing: border-box;
  min-width: 1100px;
}

#card {
  width: 100%;
}

.logindiv {
  width: 480px;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
  .App {
    display: "flex";
    flex-direction: column;
    width: 100%;
  }

  .logindiv {
    width: 260px;
  }

  .job {
    visibility: hidden;
    width: 100%;
  }

  .videoDiv {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    margin-top: 0;
    width: 100%;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
  }

  .cardSpace {
    width: 100%;
  }

  #card {
    width: 96%;
    margin-left: 12px;
  }
  .box {
    width: 100%;
  }

  .videoOne {
    width: 100%;
  }

}

@media (max-width: 1000px) {
  .searchbar {
    flex-direction: column;
   
  }
.search {
  min-width: 74%;
}
}



@media (max-width: 1023px) {
  .cardSpace {
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
  }
}

@media (min-width: 1240px) {
  .cardSpace {
    margin-top: 2%;
    margin-left: 2%;
    width: 46%;
  }
}

@media (min-width: 1441px) {
  .cardSpace {
    margin-top: 10px;
    margin-left: 10px;
    width: 30.6%;
  }

  .table {
    height: max-content;
  }
}

.box {
  width: 100%;
}

.skillsTable {
  border: 1px solid black;
}

/* * {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

#root {
  overflow: auto;
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  padding: 15px;
}

.list {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  background: #f0f0f0;
}

.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.jobs:hover {
  background-color: rgb(243, 237, 237);
}

.loginLogo {
  background-image: url("./images/logo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hello {
}

.nice {
  position: relative;
  width: 100%;
  height: 110px;
  line-height: 110px;
  color: black;
  font-size: 8em;
  font-weight: 800;
  letter-spacing: -9px;
  will-change: transform, opacity;
  overflow: hidden;
}

.spring {
  background-image: "";
  background-repeat: no repeat;
}

.cardVidDiv {
}

@media (max-width: 600px) {

  .cardVidDivFirstApp {
    min-width: 100%
  }
  .cardVidDivApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

}

.spinner {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 243, 250);
  position: relative;
  animation-name: example;
  animation-iteration-count:infinite;
  animation-duration: 7.6s;


  /* margin-left: 36% */
}

@keyframes example {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px; }
  50%  {background-color:rgb(173, 216, 230, 0.2); left:80%; top:0px;}
  100%  {background-color:lightgrey; left:0px; top:0px;}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.C {
  width: 50px;
  height: 50px;
  background-color: rgb(220, 243, 250);
  position: relative;
  animation-name: c;
  animation-iteration-count:infinite;
  animation-duration: 7.8s;
}

@keyframes c {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px;transform: rotate(0deg);}
  50%  {background-color:rgb(173, 216, 230, 0.2); left:80%; top:0px;transform: rotate(360deg);}
  100%  {background-color:lightgrey; left:0px; top:0px;transform: rotate(-360deg);}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.O {
  width: 50px;
  height: 50px;
  background-color: rgb(220, 243, 250);
  position: relative;
  animation-name: o;
  animation-iteration-count:infinite;
  animation-duration: 7.9s;
}

@keyframes o {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px;transform: rotate(0deg);}
  50%  {background-color:rgb(173, 216, 230, 0.2); left:80%; top:0px; transform: rotate(360deg)}
  100%  {background-color:lightgrey; left:0px; top:0px;transform: rotate(-360deg)}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}


.D {
  width: 50px;
  height: 50px;
  background-color:rgb(220, 243, 250);
  position: relative;
  animation-name: d;
  animation-iteration-count:infinite;
  animation-duration: 8s;
}

@keyframes d {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px;transform: rotate(0deg);}
  50%  {background-color: rgb(173, 216, 230, 0.2); left:80%; top:0px; transform: rotate(360deg)}
  100%  {background-color:lightgrey; left:0px; top:0px;transform: rotate(-360deg)}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.E {
  width: 50px;
  height: 50px;
  background-color: rgb(220, 243, 250);
  position: relative;
  animation-name: e;
  animation-iteration-count:infinite;
  animation-duration: 8.1s;
}

@keyframes e {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px;transform: rotate(0deg);}
  50%  {background-color:rgb(173, 216, 230, 0.2); left:80%; top:0px; transform: rotate(360deg)}
  100%  {background-color:lightgrey; left:0px; top:0px;transform: rotate(-360deg)}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.R {
  width: 50px;
  height: 50px;
  background-color: rgb(220, 243, 250);
  position: relative;
  animation-name: r;
  animation-iteration-count:infinite;
  animation-duration: 8.2s;
}

@keyframes r {
  0%   {background-color:rgb(220, 243, 250); left:0px; top:0px;transform: rotate(0deg);}
  50%  {background-color:rgb(173, 216, 230, 0.2); left:80%; top:0px; transform: rotate(360deg)}
  100%  {background-color:lightgrey; left:0px; top:0px;transform: rotate(-360deg)}
  /* 75%  {background-color:green; left:0px; top:400px;}
  100% {background-color:red; left:0px; top:0px;} */
}

.spinnerDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Quicksand;
  font-size: 20px;
  font-weight: bold; */
  color: white;
}

.spinnerDiv {
  animation-name: spinner;
  animation-duration: 4s;
}

@keyframes spinner {
  0% {visibility: hidden}
  50% {visibility: hidden};
  100% {visibility: visible};
}


/* .juniorCoder {
  text-align: center;
 

  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgb(220, 243, 250) 10%,
    rgb(173, 216, 230, 0.2),
    rgb(255, 255, 255) 20%,
    lightgrey 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

.icons:hover {
  color: white;
}


.loading {
  position: relative;
  animation: mymove 16s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes mymove {
  from {
    width:0;
  }
  to {
    width:100%;
  }
}